extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  h1 Flatmate List 

  
        each user, i in flatmatelist
            h1 Flatmate Name:
            h2=user.name
            
            p Gender:
            h2=user.gender
            p Ocuption:
            h2=user.ocupation
            p Height:
            h2=user.height
            br
            a(href='/deleteFlatMate/#{user._id}') Delete mate by ID
            br 



            button(onclick="addFlatmate()") ADD new flatmate
            


              script.
               function addFlatmate(){
               console.log('add');
               window.location.href = '/newflatmate'
               }

               function edit(){
               window.location.href  = '/deleteFlatMate'
               }

