extends layout

block content
  

        each user, i in flatlist
                br
                br
                h1 Flat Name:     
                p=user["Flat name"]       
                h4 City:
                p=user.city
                h4 address:
                p=user.address 
                h4 Floor:
                p=user.floor 
                h4 number of rooms:
                p=user["number of rooms"] 
                h4 post code:
                p=user["post code"]
                button(onclick="addflat()") ADD new flat
                p
                a(href='/deleteFlat/#{user._id}') Delete flat by ID
                p 
                a(href='/editFlat/#{user._id}') Edit flat              
                br
                a(href='/addFlatMateToFlat/#{user._id}') ADD new flat flatmate
                br
                h1 Flatmate Name:
                h2=user.flatmates

                p Gender:
                h2=user.flatmates
                p Ocuption:
                h2=user.flatmates
                p Height:
                h2=user.flatmates

              script.
              function addflatmate(){
              console.log("dsadsa");
              window.location.href = '/flatmatelist'
              }

               function addflat(){
               console.log('add');
               window.location.href = '/newflat'
               }

               function Delete(){
               console.log("delete function");
               window.location.href ='/deleteFlat'
               }

               function EditFlat(){
               console.log("delete function");
               window.location.href ='/editFlat'
               }
