extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  h1 Flatmate List 

  
        each user, i in flatmatelist
           ul 
           li 
            h2=user.name
            p=user.gener
            p=user.gender
            p=user.ocupation 
            p=user.height
            
           
            a(href='/deleteFlatMate/#{user._id}') Edit mate
            br
            a(href='/deleteFlatMate/#{user._id}') Delete mate by ID
            br 



            button(onclick="addFlatmate()") ADD new flatmate
            


              script.
               function addFlatmate(){
               console.log('add');
               window.location.href = '/newflatmate'
               }

               function edit(){
               window.location.href  = '/deleteFlatMate'
               }

