extends layout

block content
        each user, i in flatlist
            
                h3=user["Flat name"] 
                p=user.city
                p=user.address 
                p=user.floor 
                p=user["number of rooms"] 
                p=user["post code"]
                br
                p
                button(onClick="Delete()") Delete FLAT Function
                th Delete?
                br
                br
                p 
                button(onClick="EditFlat()") Edit

                br
                br
                
                button(onclick="addflat()") ADD new flat
              script.
               function addflat(){
               console.log('add');
               window.location.href = '/newflat'
               }

               function Delete(){
               console.log("delete function");
               window.location.href ='/deleteFlat'
               }
               function EditFlat(){
               console.log("delete function");
               window.location.href ='/editFlat'
               }
