extends layout

block content
        each user, i in userlist
            
                h3=user["Flat name"] 
                p=user.city
                p=user.address 
                p=user.floor 
                p=user["number of rooms"] 
                p=user["post code"]
                br
                br
